* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.gallery {
  display: flex;
  width: 1440px;
  height: 696px;
  padding: 24px 156px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;

  transition: width 250ms ease-in-out, height 250ms ease-in-out;
}

.gallery-image:focus,
.gallery-image:hover {
  width: 376px;
  height: 208px;
}